.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1a252f;
  padding: 10px 25px;
  border-bottom: 2px solid #34495e;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  opacity: 1;

  @media (max-width: 1170px) {
    padding: 5px 15px;
  }
}

.header-side {
  width: 350px;
  display: flex;
  gap: 10px;
  align-items: center;

  @media (max-width: 1170px) {
    width: 175px;
  }
}

.game-header .header-side:last-child {

  @media (max-width: 1170px) {
    justify-content: flex-end;
  }
}

.header-user-info {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 5px !important;
}

.player-avatar {
  font-size: 24px;
  background: #2c3e50;
  padding: 6px;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1170px) {
    font-size: 18px;
    width: 20px;
    height: 20px;
  }
}

.user-text {
  display: flex;
  flex-direction: column;
}

.player-name {
  font-weight: bold;
  color: #f1c40f;
  font-size: 16px;

  @media (max-width: 1170px) {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
  }
}

.player-stats-brief {
  font-size: 12px;
  color: #bdc3c7;

  @media (max-width: 1170px) {
    line-height: 12px;
  }
}

.player-stats-brief small {
  @media (max-width: 1170px) {
    display: none;
  }
}

.header-currency {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #2c3e50;
  padding: 6px 14px;
  border-radius: 6px;
  font-weight: bold;
  border: 1px solid #f1c40f;
  height: 45px;

  @media (max-width: 1170px) {
    height: 30px;
    padding: 6px;
  }
}

.currency-icon {
  font-size: 18px;
}

.currency-value small {
  color: #bdc3c7;
  font-weight: normal;

  @media (max-width: 1170px) {
    display: none;
  }
}

.currency-value {
  @media (max-width: 1170px) {
    font-size: 14px;
  }
}

.header-actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-actions button span {
  @media (max-width: 1170px) {
    display: none;
  }
}

.header-btn {
  background: #34495e;
  border: 1px solid #455a64;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s;
  height: 45px;

  @media (max-width: 1170px) {
    height: 30px;
  }
}

.header-btn:hover {
  background: #415b76;
  border-color: #f1c40f;
}

.header-logout-btn {
  background: #e74c3c;
  color: white;
  border: none;
  padding: 16px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  transition: background 0.2s;
  height: 45px;

  @media (max-width: 1170px) {
    height: 30px;
  }
}

.header-logout-btn:hover {
  background: #c0392b;
}